{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      /* padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem); */
      padding-bottom: 0px;
    }
  }
{%- endstyle -%}

<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient">
  <div class="collection-hero__inner {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    <div class="collection-hero__text-wrapper page-width">
      
      {% if section.settings.logo_image %}      
      {%- liquid
        assign image_height = section.settings.logo_image.width | divided_by: section.settings.logo_image.aspect_ratio
          assign sizes = full_width
      -%}
      <a class="small-hide" href="/">
      {{
        section.settings.logo_image
        | image_url: width: 3840
        | image_tag:
          loading: 'lazy',
          width: section.settings.image.width,
          height: image_height,
          class: logo_img,
          sizes: sizes,
          widths: widths
      }}
      </a>
      {% endif %}
      <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
    </div>

    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="small-hide collection-hero__image-container media gradient" style="padding-bottom:{{ 1 | divided_by: collection.image.aspect_ratio | times: 100 }}%">
        <img
          srcset="
            {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w
          "
          src="{{ collection.image | image_url: width: 750 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt=""
          width="{{ collection.image.width }}"
          height="{{ collection.image.height }}"
        >
      </div>
    {%- endif -%}
    {%- if section.settings.show_collection_image -%}
      {% if section.settings.mob_image %}
       <div class="medium-up-hide collection-hero__image-container media gradient" style="padding-bottom:{{ 1 | divided_by: section.settings.mob_image.aspect_ratio | times: 100 }}%">              
          {%- liquid
            assign image_height = section.settings.mob_image.width | divided_by: section.settings.mob_image.aspect_ratio
              assign sizes = full_width
          -%}
          <a href="/">
          {{
            section.settings.mob_image
            | image_url: width: 3840
            | image_tag:
              loading: 'lazy',
              width: section.settings.mob_image.width,
              height: image_height,
              class: logo_img,
              sizes: sizes,
              widths: widths
          }}
          </a>          
       </div>
      {% endif %}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "image_picker",
      "label": "mob image",
      "id": "mob_image"
    },
    {
      "type": "image_picker",
      "label": "logo image",
      "id": "logo_image"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}
