{% style %}

{% endstyle %}
<div class="side_drawer_holder shipping_announce_popup">
  <div class="side_drawer_overlay"></div>
  <div class="side_drawer">
    <button class="close_btn">
      <svg
        aria-labelledby="close-6603"
        class="Icon_base__GKZ58 Icon_close__AxPOL Icon_dark__IcVZw closeBtnIcon"
        data-testid="data-testid-Icon"
        focusable="false"
        height="12"
        role="img"
        style="height:12px;width:12px"
        tabindex="-1"
        viewBox="0 0 50 50"
        width="12"
      >
        <title id="close-6603">Close button for Shipping modal</title><g><polygon points="50,5 45,0 25,20 5,0 0,5 20,25 0,45 5,50 25,30 45,50 50,45 30,25" class="Icon_close__AxPOL"></polygon></g>
      </svg>
    </button>
    <div class="drawer_content">
      <h1 class="main_head_shipping">{{ section.settings.heading }}</h1>
      <div class="drawer_blocks_subcontent">
        {% for block in section.blocks %}
          <div class="block_content">
            <h1 class="block_subheading">{{ block.settings.subheading }}</h1>
            <div class="block_rows">
              <p class="first_word">{{ block.settings.row_one_col_one }}</p>
              <p class="second_word">{{ block.settings.row_one_col_two }}</p>
            </div>

            <div class="block_rows">
              <p class="first_word">{{ block.settings.row_two_col_one }}</p>
              <p class="second_word">{{ block.settings.row_two_col_two }}</p>
            </div>
            <div class="block_rows">
              <p class="first_word">{{ block.settings.row_three_col_one }}</p>
              <p class="second_word">{{ block.settings.row_three_col_two }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  {% schema %}
  {
    "name": "shipping_drawer",
    "settings": [
      {
      "type": "text",
      "id": "heading",
      "label": "heading"
      }
    ],
    "blocks": [
      {
        "name": "two_column_content",
        "type": "two_column_content",
        "settings": [
          {
            "type": "text",
            "id": "subheading",
            "label": "subheading"
          },
          {
            "type": "text",
            "id": "row_one_col_one",
            "label": "first row first word"
          },
          {
            "type": "text",
            "id": "row_one_col_two",
            "label": "second row second word"
          },
          {
            "type": "text",
            "id": "row_two_col_one",
            "label": "first row first word"
          },
          {
            "type": "text",
            "id": "row_two_col_two",
            "label": "second row second word"
          },
          {
            "type": "text",
            "id": "row_three_col_one",
            "label": "second row first word"
          },
          {
            "type": "text",
            "id": "row_three_col_two",
            "label": "third row second word"
          }
        ]
      }
    ]
  }
  {% endschema %}

  {% stylesheet %}
  {% endstylesheet %}

  {% javascript %}
    
  {% endjavascript %}

